@page "/"
@using BlazorAutoBridge.Sample.Client.Contracts
@using BlazorAutoBridge.Sample.Client.Services;
@inject IUserService UserService

<PageTitle>Home</PageTitle>

@foreach (var user in users)
{
    <div>@user.Username</div>
    <div>@user.Email</div>
    <hr />
}

@if (!string.IsNullOrEmpty(message))
{
    <div style="color:red">@message</div>
}

@code {
    private List<UserDto> users = [];
    private string? message;

    protected override async Task OnInitializedAsync()
    {
        var response = await UserService.GetSingle(100);
        if (response.ResponseMessage.IsSuccessStatusCode)
        {
            users.Add(response.GetContent());
        }
        else
        {
            message = $"Error: {await response.ResponseMessage.Content.ReadAsStringAsync()}";
        }
    }
}
